@page "{id}"
@using Practies.Core.Convertors
@model Practies_Test2.Pages.Admin.Users.DeleteUserModel
@{
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            حذف کاربر
        </div>
        <div class="panel-body">

            <form method="post">
                <input type="hidden" name="UserId" value="@ViewData["UserId"].ToString()" />

                <dl class="dl-horizontal">
                    <dt>نام کاربری :</dt>
                    <dd>@Model.InformationViewModel.UserName</dd>
                    <dt>ایمیل :</dt>
                    <dd>@Model.InformationViewModel.Email</dd>
                    <dt>تاریخ عضویت :</dt>
                    <dd>@Model.InformationViewModel.RegisterDate.ToShamsi()</dd>
                    <dt>موجودی کیف پول :</dt>
                    <dd>@Model.InformationViewModel.Wallet</dd>
                    <dt></dt>
                    <dd>
                        <input type="submit" class="btn btn-danger" value="حذف" />
                    </dd>
                </dl>
            </form>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>